# Python Bytecode
__pycache__/
/__pycache__/
*.py[cod]

# Virtual Environment
.venv/
env/
*.env

# IDE files (contoh untuk Visual Studio Code)
.vscode/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints/

# Cache files
*.cache
*.log

# Operating System files
.DS_Store
Thumbs.db

# Build
dist
build
main.spec

# Scrap Data Files
data